*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat";
}


.logo{
    width: 147px;
    /* height: 25.43px; */
    flex-shrink: 0;
}

.logout-btn{
    display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 4px;
    background: var(--Orange-orange-500, #FF3E01);

    
    color: #FFF;
    font-family: "Space Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
}


section{
    width: auto;
    height: 120vh;
    background: var(--Orange-orange-50, #FFF7F4);                   
}

.menu-design{
    width: 326px;
    height: auto;
    flex-shrink: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
}

/* .nav-link {
    display: flex;
    align-items: center;
    color: black;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.nav-item.active .nav-link {
    background-color: #f7efe5;
    font-weight: bold;
} */

.menu-items{
    color: #000;
    font-family: "Space Grotesk";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 20px */
}



.overview{
    align-self: stretch;

    color: #000;
    font-family: "Space Grotesk";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 24px */
}

.overview-text{
    color: var(--Grey-grey-700, #5B5B5B);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    /* line-height: normal; */
}

.user-dp{
    width: 60px;
    height: 60px;
    border-radius: 60px;
}
.user-name{
    color: #000;
font-family: "Space Grotesk";
font-size: 24px;
font-style: normal;
font-weight: 500;

}


.user-jd{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

}


.notice-bar{
    height: 141px;
    align-self: stretch;

    border-radius: 8px;
    background: #FFF;
}

.notice-tag{
    position: absolute;

    border-radius: 4px 4px 4px 4px;
    background: var(--Orange-orange-500, #FF3E01);

    /* display: flex; */
    height: 36px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    }

.notice-text{
    color: #FFF;
    font-family: "Space Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */
}

.date-time-tag{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.notice-content{
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;

}


.sales-card{
    width: 440px;
    height: 176px;

    border-radius: 12px;
    background: #FFF;
}

.sale-target{
    color: #000;
    font-family: "Space Grotesk";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 24px */
}

.sales-update-btn{
    display: inline-flex;
    padding: 8px 40px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 0.5px solid var(--Grey-grey-300, #AAA);

    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.sale-target-count{
    display: inline-flex; 
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

#up-sales{
    color: var(--Orange-orange-500, #FF3E01);
    font-family: "Space Grotesk";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 32px */
}

#last-month-sale{
    color: var(--Grey-grey-700, #5B5B5B);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#up-sales-month{
    color: var(--Green-green-500, #008000);
    font-family: "Space Grotesk";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 32px */
}

.task-list{
    border-radius: 12px;
    background: #FFF;
    height: auto;
    align-self: stretch;

    
}

.table-header{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dashed-line {
    border-top: 2px rgba(0, 0, 0, 0.20) dashed;
    width: auto;
}
.header-line {
    border-top: 2px rgba(0, 0, 0, 0.20) solid;
    width: auto;
}

.table-data{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
}


.footer {
    color: #000;
font-family: "Suisse Intl";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 16px */
}

/* all_notice.html */

.notice-headline{
    color: #000;
    font-family: "Space Grotesk";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 24px */
}


/* payment_system.html */

.payment-header{
    color: #000;
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 24px */
    
}

.payment-txt{
    color: var(--Grey-grey-700, #5B5B5B);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-self: stretch;
}

.system-box{
    display: flex;
    padding: 5px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    /* border: #000 1px solid ; */
}

.system-box a{
    color: #000;
    font-family: "Space Grotesk";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    text-decoration: none;
}

.payment-card{
    border-radius: 8px;
    background: #FFF;
    display: flex;
    padding: 12px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.payment-name{
    color: #000;
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 24px */
}